*
{
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
  font-family: 'Gaegu', cursive;

}

html, body
{
  margin: 0;
  padding: 0;
  /* background-color: #fff; */
  /* max-width: 481px; */
  font-family: 'proxima-nova', sans-serif;
}

.water-button {
  background: #F4F6FF;
  background-image: url("images/hand-pointing.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: 50%;
  /* border: 5px solid aqua; */
  color: black;
  border-radius: 150px;
  font-size: 20px;
}
